<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>{{ class.name }}</title>
</head>
<body>
    <div class="container mt-3">
        <h1 class="text-center">{{ class.school.name }} - {{ class.name }}</h1> <hr>
        <h3>Fanlar</h3>
        {% if ppid %}
            {% for subject in subjects %}
                <a style="text-decoration: none;" href="{% url 'subject' subject.sbid %}?pid={{ ppid }}">{{ subject.name }}</a> <br>
            {% endfor %} <hr>
        {% else %}
            {% for subject in subjects %}
                <a style="text-decoration: none;" href="{% url 'subject' subject.sbid %}">{{ subject.name }}</a> <br>
            {% endfor %} <hr>
        {% endif %}
        <a class="btn btn-primary btn-sm" href="{% url 'school' class.school.sid %}">Orqaga</a>
    </div>
</body>
</html>